body{
    margin: 0;
    padding: 0;
    /* display: grid;
    grid-row: 50% 50%;
    grid-area: 100% 100%; */
}

.main{
    color: red;
}

#navBar{
    background-color: #0099FF;
    position: fixed;
    padding: 10px 25px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    top: 35%;
    left: 0%;
    display: flexbox;
    flex-direction: column;
}
a{
    display: flex;
    padding-bottom: 20px;
    padding-left: 20px;
}

#logo{
    filter: invert(100%);
    width: auto;
    height: 60px;
}

a > img {
    height: auto;
    width: 50px;
    margin: auto;
}
