:root {
	--white: #FFFFFF;
	--dark-grey: #1E1F25;
    --grey: #8A8A8A;
	--light-grey: #2A2B30;
	--black: #1E1E1E;
    --light-green: #6DC956;
	--primary-color: #BCE29E;
	--secondary-color: #0099FF;
    --background-color: #131517;
} 

.footer {
    background-color: #111111; 
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 5px 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 30px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.copyright {
    color: #888;
    font-size: 0.9rem;
}

