:root {
	--white: #FFFFFF;
	--dark-grey: #1E1F25;
	--light-grey: #2A2B30;
	--black: #1E1E1E;
	--primary-color: #BCE29E;
	--secondary-color: #0099FF;
}
#root{
	min-width: 100vw;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
}

html{
	background-color: var(--black);
}

.AppNavigator{
	background-color: var(--black);
}

body, .App, .content{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	/* display: block;
	align-content:baseline;
	justify-content: center; */
	color: var(--white);
	background-color: var(--black);
	min-height: 100vh;

}

.container.custom-authentication{
	background-color: var();
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	border: 0;
}

.custom-form{
	background-color: var(--dark-grey);
	color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #2A2B30;
    border-radius: 40px;
}


.custom-h1{
	color: var(--primary-color);
	align-self: center;
	font-size: 50px;
	/* font-weight:bold; */
}

.custom-control{
	margin: auto;
	border: solid var(--primary-color) 3px;
}


.custom-label {
    color: var(--primary-color);
}

.custom-p{
	color: var(--primary-color);
}

Button.custom-submit {
	background: #2A2B30;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    color: var(--primary-color);
	align-self: center;
	width: auto;
	/* height: 5%; */
}

Button.custom-submit:hover{
	background-color: var(--primary-color);
	border: 1px solid #FFFFFF;
}

Button.custom-button {
	background-color: var(--primary-color);
    border: 1px solid #FFFFFF;
	color: var(--black);
    border-radius: 40px;
	width: 20%;
	height: 10%;
	font-weight: bold;
}
Button.custom-button:hover{
    background: #2A2B30;
	color: var(--primary-color);
	border: 1px solid #FFFFFF;
}

.custom-Link{
	background-color: var(--primary-color);
    border: 1px solid #FFFFFF;
	color: var(--black);
    border-radius: 40px;
	font-weight: bold;
	padding: 2% 3%;
	text-decoration: none;

}

.custom-Link:hover{
    background: #2A2B30;
	color: var(--primary-color);
	border: 1px solid #FFFFFF;
}