:root {
	--white: #ffffff;
	--dark-grey: #1e1f25;
	--light-grey: #2a2b30;
	--black: #1e1e1e;
	--primary-color: #bce29e;
	--secondary-color: #0099ff;
  }
  
  body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--black);
	color: var(--white);
	height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .team-page {
    background-color: var(--background-color);
    color: var(--white);
    padding-bottom: 3rem;
    background-color: var(--background-color);
    color: var(--white);
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    /*
    min-height: 100vh;
    */
  }
  
  .team-title {
    color: var(--primary-color);
  }
  
  .team-subtitle {
    font-weight: 500;
  }
  
  .section-heading {
    color: var(--light-green);
  }
  
  .scenario-heading {
    color: var(--secondary-color);
  }
  
  .team-card {
    background-color: var(--light-grey);
    border-radius: 1rem;
  }
  
  .team-name {
    color: var(--primary-color);
  }
  