:root {
	--white: #ffffff;
	--dark-grey: #1e1f25;
	--light-grey: #2a2b30;
	--black: #1e1e1e;
	--primary-color: #bce29e;
	--secondary-color: #0099ff;
  }
  
  body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--black);
	color: var(--white);
	height: 100%;
    overflow-x: hidden;  /* need to have the scroll bar fixed for the team page only*/
    overflow-y: auto;
  }

  .team-page {
    background-color: var(--background-color);
    color: var(--white);
    padding-bottom: 3rem;
    background-color: var(--background-color);
    color: var(--white);
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    /*
    min-height: 100vh;
    */
  }
  
  .team-title {
    color: var(--primary-color);
  }
  
  .team-subtitle {
    font-weight: 500;
  }
  
  .section-heading {
    color: var(--light-green);
  }
  
  .scenario-heading {
    color: var(--secondary-color);
  }
  
  .team-card {
    background-color: transparent;
    border: none;

  }
  
  .team-name {
    padding-top: 2rem;
    color: var(--primary-color);
  }

  .profile-img{
    border: 1px solid var(--light-grey);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: auto;
    height: 350px;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  /* Icon Links */

  .link-container{
    display: flex;
    flex-direction: row;

  }

  .profile-link{
    width: 25px;
    height: auto;
    margin-right: 5px;
  }


  /*
  a{
    width: 25px;
    height: auto;
    margin-right: 5px;
  }
    */



  