html, body{
    margin: 0;
    padding: 0; 
}

.user-page {
    text-align: center;
	color: var(--white);
	background-color: var(--light-grey);
	width: 80%;
	height: 80vh;
	margin: 2rem;
}

.container {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
}

.user-form {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    width: 80%;
    height: 65%;
    margin-bottom: auto;
    padding: 5%;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
}
.input-container {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
}

.custom-control{
    width: 100% !important;
    padding-right: 1.5rem !important;
    box-sizing: border-box !important;
}

input[type=submit] {
    box-sizing: border-box;
    width: 50%;
    height: 20%;

    background: #2A2B30;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    color: var(--primary-color)
}

button {
    box-sizing: border-box;

    width: 80%;
    height: 15%;
    min-height: 50px;
    min-width: 100px;

    border: 2px solid #2A2B30;
    border-radius: 40px;
}

h1 {
    color: var(--primary-color);
}

label {
    color: var(--primary-color);
}

.custom-p {
    color: var(--primary-color);
    padding-top: 35px;
}

.alert{
    position: absolute !important;
    font-size: xx-large;

    top: 5%;
    right: 50%;
    transform: translateX(50%)
}

.label-container{
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container{
    position: relative;
}

.asterisk{
    color: red;
    position: absolute;
    font-size: xx-large;
    right: 10px;
    top: 0px;
    pointer-events: none;
    
}