html, body{
    margin: 0;
    padding: 0; 
}

main{
	background-color: var(--light-grey);
}

.user-page {
    text-align: center;
    /* justify-content: center;
    align-items: center;
    display: flex; */
	color: var(--white);
	background-color: var(--light-grey);
	width: 80%;
	height: 80vh;
	margin: 2rem;
}

.container {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
}

.user-form {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    width: 80%;
    height: 65%;
    margin-bottom: auto;
    padding: 5%;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
}
.input-container {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
}

input[type=submit] {
    box-sizing: border-box;
    width: 50%;
    height: 20%;

    background: #2A2B30;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    color: var(--primary-color)
}

button {
    box-sizing: border-box;

    width: 80%;
    height: 15%;

    border: 2px solid #2A2B30;
    border-radius: 40px;
}

h1 {
    color: var(--primary-color);
}

label {
    color: var(--primary-color);
}

.custom-p {
    color: var(--primary-color);
    padding-top: 35px;
}

.alert{
    position: absolute !important;
    font-size: x-large;
    top: 5%;    
}

/* .alert-test{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: red;
    height: auto;
} */